hd= Plain
avg= 1
dt= yyyy-mm-dd
tm= hh:mm:ss
sp= Comma
fv= FillValue
ti= 2014-06-06,06:18:00 ~ 2014-06-06,13:37:00

var= ACINS
var= ALT
var= AT_A
var= GGALT
var= GGLAT
var= GGLON
var= GGSPD
var= GSF
var= MACH_A
var= PALT_A
var= PITCH
var= PS_A
var= PT_A
var= QC_A
var= ROLL
var= TAS_A
var= THDG
var= RTHR1
var= RTRL
var= RTHR2
var= RTRL
var= RT_A
var= VSPD
var= ATHR1
var= ATRL
var= ATHR2
var= ATRL
var= PALT
var= PSFC
var= SSLIP
var= TASF
var= WDC
var= WSC
var= MACHX
